<wm-page> 
    <wm-header content="header"></wm-header> 
    <wm-top-nav content="topnav"></wm-top-nav> 
    <wm-content> 
        <wm-left-panel columnwidth="2" content="leftnav"></wm-left-panel> 
        <wm-page-content columnwidth="8"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1" padding=".5em"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn1" horizontalalign="center" padding=".5em .5em .5em unset"> 
                        <wm-tile name="tile1" backgroundcolor="#b4e7dc"> 
                            <wm-container name="container1" padding=".5em"> 
                                <wm-label name="label1" width="100%" caption="Average Deal Unit" class="text-uppercase h4" margin="0em"></wm-label> 
                                <wm-label name="label2" width="100%" caption="(in numbers)" class="h5" margin="0px"></wm-label> 
                                <wm-label name="label3" width="100%" caption="This week" fontstyle="italic" class="h5"></wm-label> 
                                <wm-label name="label4" width="100%" caption="25.02" class="h3" fontweight="bold" margin="0px"></wm-label> 
                                <wm-icon name="icon1" iconclass="fa fa-caret-up"></wm-icon> 
                                <wm-label name="label5" caption="2.8%" class="h5" margin="0em .2em"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" horizontalalign="center" name="gridcolumn5" padding=".5em"> 
                        <wm-tile name="tile3" backgroundcolor="#9accd6"> 
                            <wm-container name="container8" padding=".5em"> 
                                <wm-label width="100%" caption="Average Deal Value" class="text-uppercase h4" name="label41" margin="0em"></wm-label> 
                                <wm-label width="100%" caption="(in dollars)" class="h5" name="label42" margin="0px"></wm-label> 
                                <wm-label width="100%" caption="This week" fontstyle="italic" class="h5" name="label43"></wm-label> 
                                <wm-label width="100%" caption="$25k" class="h3" name="label44" fontweight="bold" margin="0px"></wm-label> 
                                <wm-icon iconclass="fa fa-caret-up" name="icon8"></wm-icon> 
                                <wm-label caption="2.8%" class="h5" name="label45" margin="0em .2em"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" horizontalalign="center" name="gridcolumn6" padding=".5em"> 
                        <wm-tile name="tile4" backgroundcolor="#5e738b" color="#ffffff"> 
                            <wm-container name="container9" padding=".5em"> 
                                <wm-label width="100%" caption="Total Deal Unit" class="text-uppercase h4" name="label46" margin="0em"></wm-label> 
                                <wm-label width="100%" caption="(in numbers)" class="h5" name="label47" margin="0px"></wm-label> 
                                <wm-label width="100%" caption="This week" fontstyle="italic" class="h5" name="label48"></wm-label> 
                                <wm-label width="100%" caption="102" class="h3" name="label49" fontweight="bold" margin="0px"></wm-label> 
                                <wm-icon iconclass="fa fa-caret-up" name="icon9"></wm-icon> 
                                <wm-label caption="2.8%" class="h5" name="label50" margin="0em .2em"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" horizontalalign="center" name="gridcolumn7" padding=".5em unset .5em .5em"> 
                        <wm-tile name="tile5" backgroundcolor="#464e74" color="#ffffff"> 
                            <wm-container name="container10" padding=".5em"> 
                                <wm-label width="100%" caption="Total Deal Time" class="text-uppercase h4" name="label51" margin="0em"></wm-label> 
                                <wm-label width="100%" caption="(in days)" class="h5" name="label52" margin="0px"></wm-label> 
                                <wm-label width="100%" caption="This week" fontstyle="italic" class="h5" name="label53"></wm-label> 
                                <wm-label width="100%" caption="9.21" class="h3" name="label54" fontweight="bold" margin="0px"></wm-label> 
                                <wm-icon iconclass="fa fa-caret-up" name="icon10"></wm-icon> 
                                <wm-label caption="2.8%" class="h5" name="label55" margin="0em .2em"></wm-label> 
                            </wm-container> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow8" padding="0em .5em"> 
                    <wm-gridcolumn columnwidth="8" name="gridcolumn13_1" horizontalalign="left" padding=".5em .5em .5em unset"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel5" title="Revenue Growth (in USD)" horizontalalign="center" borderwidth="0em" margin="0em" padding="1em 1em 1.5em 1em"> 
                            <wm-chart type="Line" name="chart1" yaxislabeldistance="1" xaxislabel="null" yaxislabel="null" showlegend="false" xdigits="1" theme="Terrestrial"></wm-chart> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn14" horizontalalign="left" padding=".5em unset .5em .5em"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel4_1" title="Top Products in Revenue" borderwidth="0em" margin="0em" padding="1em"> 
                            <wm-chart type="Donut" name="chart2" showlegend="false" donutratio="0.5" theme="Azure"></wm-chart> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow6"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn16" padding=".5em"> 
                        <wm-panel backgroundcolor="#fff" title="Customer Feedback" show="true" class="panel-default" collapsible="false" showheader="true" name="panel6" borderwidth="0em" padding="0em" height="20em"> 
                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" name="livelist2" dataset="1, 2, 3, 4, 5"> 
                                <wm-listtemplate layout="media" name="listtemplate2"> 
                                    <wm-layoutgrid name="layoutgrid8" margin="0px"> 
                                        <wm-gridrow name="gridrow14" padding="0em 0em 1em 0em"> 
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn31" horizontalalign="center" class="col-xs-3" padding="1.5em 0em 0em 0em"> 
                                                <wm-picture class="media-object picture" shape="circle" width="5em" name="picture3" picturesource="http://www.wavemaker.com/examples/comedians/stanleylaurel.jpg"></wm-picture> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn32" class="col-xs-9" padding="1em 0em 0em 0em"> 
                                                <wm-panel name="panel6_2" title="John Doe"> 
                                                    <wm-label name="label29" caption="All Good"></wm-label> 
                                                </wm-panel> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-list> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn17" padding=".5em"> 
                        <wm-panel backgroundcolor="#fff" title="Today's Schedule" show="true" class="panel-default" collapsible="false" showheader="true" horizontalalign="center" name="panel6_1" borderwidth="0em" padding="2em 0em 0em 0em" height="20em"> 
                            <wm-calendar name="calendar2" borderwidth="0em" margin="1em"></wm-calendar> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="5" name="gridcolumn18" padding=".5em"> 
                        <wm-panel class="panel-default" collapsible="false" showheader="true" title="Top Sales Person" name="panel8" borderwidth="0px" margin="0px" padding="1em" height="20em"> 
                            <wm-table readonlygrid="true" insertrow="false" updaterow="false" deleterow="false" shownavigation="false" height="225px" name="grid2"> 
                                <wm-table-column caption="Name" pcdisplay="true" mobiledisplay="true"></wm-table-column> 
                                <wm-table-column caption="Top Customers" pcdisplay="true" mobiledisplay="true"></wm-table-column> 
                                <wm-table-column caption="Revenue" pcdisplay="true" mobiledisplay="true"></wm-table-column> 
                            </wm-table> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
        <wm-right-panel columnwidth="2" content="rightnav"></wm-right-panel> 
    </wm-content> 
    <wm-footer content="footer"></wm-footer> 
</wm-page>