<wm-page name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1" caption="Source"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2" caption="Destination"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="text2"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button class="btn-default" caption="click" type="button" margin="unset 0.5em" name="button1" on-click="Variables.TestServicevar.invoke()"></wm-button>
            <wm-label padding="unset 0.5em" name="label3" caption="bind:Variables.TestServicevar.dataSet.route.leg.duration.text"></wm-label>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>